@model ContainerManagementSystem.Models.User.User
@using ContainerManagementSystem.Models.System;
@using ContainerManagementSystem.CommonEnum

<script>
    $(document).ready(function () {
        $('#btnDelete').on('click', function () { DeleteCustomer() });

        $('#btnCancel').on('click', function () { RefreshPage() });

        $('#btnSave').on('click', function () { SaveCustomer() });

        $('#btnBack').on('click', function () { BackToCustomerListing() });
    });

    function BackToCustomerListing()
    {
        $.ajax({
            url: '/Customer/CustomerList',
            success: function (data) {
                $('#divBody').html(data);
            },
            error: function (data) { }
        });
    }

    function SaveCustomer()
    {
        var user = {};

        user.UserId = '@Model.UserId';
        user.FirstName = $('#Customer_FirstName').val();
        user.LastName = $('#Customer_LastName').val();
        user.Email = $('#Customer_Email').val();
        user.Password = $('#Customer_Password').val();


        $.ajax({
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            dataType: 'json',
            url: '/Customer/CustomerCreateUpdate',
            data: JSON.stringify({ user: user }),
            success: function (data) {

                if (data.StrReturnStatus == '@AjaxReturnStatus.Success') {
                        GenerateMessage('Saved Successfully');
                        GoToListing();
                    }
                    else {
                        var messages = ''
                        debugger;
                        GenerateMessage('Error', data.ErrorMessages);

                    }

            },
            error: function (data) { }
        });
    }

    function RefreshPage(id)
    {
        $.ajax({
            url: '/Customer/EditCustomer',
            data: { user_id: id },
            success: function (data) {
                $('#divBody').html(data);
            },
            error: function (data) { }
        });
    }

    function DeleteCustomer()
    {
        var confirmation = confirm('Are you sure you want to delete profile? This action cannot be undone.');

        if(confirmation)
        {
            $.ajax({
                url: '/Customer/Deleteuser',
                data: {user_id: '@Model.UserId'},
                success: function (data) {
                    if (data.StrReturnStatus == '@AjaxReturnStatus.Success') {
                        GenerateMessage('Deleted Successfully');
                        GoToListing();
                    }
                    else {
                        var messages = ''
                        debugger;
                        GenerateMessage('Error', data.ErrorMessages);

                    }
                }
            });
        }
    }
</script>


<div id="CustomerPage" class="m-l-m m-r-m">
    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-4">
                <label for="Customer_FirstName">First Name </label>
                <input id="Customer_FirstName" type="text" value="@Model.FirstName" />
            </div>

            <div class="col-lg-4">
                <label for="Customer_LastName">Last Name </label>
                <input id="Customer_LastName" type="text" value="@Model.LastName" />
            </div>

            <div class="col-lg-4">
                <label for="Customer_Email">Email </label>
                <input id="Customer_Email" type="text" value="@Model.Email" />
            </div>

            <div class="col-lg-12"></div>

            <div class="col-lg-4">
                <label for="Customer_Password">Password </label>
                <input id="Customer_Password" type="password" value="@Model.Password" />
            </div>

            <div class="row m-t-m">
                <div class="col-lg-12 content-center">
                    <input type="button" value="Delete" id="btnDelete" />
                    <input type="button" value="Save" id="btnSave" />
                    <input type="button" value="Cancel" id="btnCancel" />
                    <input type="button" value="Back" id="btnBack" />
                </div>
            </div>
        </div>
    </div>
</div>